.parent {
    background-color:rgb(250, 250, 189);
    /*padarem 0, nes kitaip nepadarysim 50% kiekvienam elementui*/
    font-size: 0;
}
.span {
background-color: rgb(175, 204, 233);
display: inline-block;
border: 3px;
padding: 40px 60px;
margin: 10px;
}
.box {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}
